<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if searched %}
    {% for room in rooms%}
    <h1>This is your search</h1>
    <p>{{ room.category}}</p>
    <p>{{ room.description}}</p>
    <p>{{ room.beds}}</p>
    {% endfor %}
    {% else %}
    <h1>Nice One</h1>
    {% endif %}

</body>
</html>